<?xml version="1.0" encoding="UTF-8" ?>
<section>
    <br />
    <h1 style="text-align: center;color: #875A7B;">SAT Métodos de Pago</h1>
    <br /><br />
</section>
<section>
    <h2>Método de pago dentro de Plazos de pago</h2>
    <h3>Se generó un nuevo campo para especificar el método de pago dentro de cada plazo de pago.</h3>
    <br />
    <div class="oe_demo">
        <img src="l10n_mx_payment_methods.jpg" />
    </div>
    <br />
    <h3>Este campo está relacionado con un catálogo, al cual se le cargan dos registros con la instalación del módulo.</h3>
    <br />
    <div class="oe_demo">
        <img src="l10n_mx_payment_methods_data.jpg" />
    </div>
</section>
